// Root styles
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

// Enhancements
@import "enhancements/all";

// Utils
@import "utils/all";

// Page components
@import "landing-page";
@import "about";