---
---
// Bulma's initial variables
@import "bulma/utilities/initial-variables.sass";
@import "bulma/utilities/functions.sass";

// Variables configuration
$dimensions: 16 24 32 48 64 96 128 192 256 384 512;
$family-logo: 'Grand Hotel', serif;
$family-primary: 'Lato', sans-serif;
$family-secondary: 'Merriweather', serif;

// Custom colors
$accent: {{ site.data.theme.color.accent }};
$accent-invert: findColorInvert($accent);
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$orange: {{ site.data.theme.color.orange }};
$orange-invert: findColorInvert($orange);
$yellow: {{ site.data.theme.color.yellow }};
$yellow-invert: findColorInvert($yellow);
$green: {{ site.data.theme.color.green }};
$green-invert: findColorInvert($green);
$turquoise: {{ site.data.theme.color.turquoise }};
$turquoise-invert: findColorInvert($turquoise);
$cyan: {{ site.data.theme.color.cyan }};
$cyan-invert: findColorInvert($cyan);
$blue: {{ site.data.theme.color.blue }};
$blue-invert: findColorInvert($blue);
$purple: {{ site.data.theme.color.purple }};
$purple-invert: findColorInvert($purple);
$red: {{ site.data.theme.color.red }};
$red-invert: findColorInvert($red);

@import "bulma/utilities/derived-variables.scss";

$addColors: (
  "accent": ($accent, $accent-invert),
  "twitter": ($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
  "orange": ($orange, $orange-invert),
  "yellow": ($yellow, $yellow-invert),
  "green": ($green, $green-invert),
  "turquoise": ($turquoise, $turquoise-invert),
  "cyan": ($cyan, $cyan-invert),
  "blue": ($blue, $blue-invert),
  "purple": ($purple, $purple-invert),
  "red": ($red, $red-invert)
);

$colors: map-merge($colors, $addColors);

// Required Bulma's styles
@import "bulma/utilities/mixins.sass";
@import "bulma/utilities/controls.sass";
@import "bulma/base/all";
@import "bulma/components/navbar";
@import "bulma/helpers/color.sass";
@import "bulma/helpers/spacing.sass";
@import "bulma/helpers/typography.sass";
@import "bulma/layout/hero.sass";
@import "bulma/components/level.sass";
@import "bulma/elements/button.sass";
@import "bulma/elements/container.sass";
@import "bulma/elements/icon.sass";
@import "bulma/elements/content.sass";
@import "bulma/elements/image.sass";
@import "bulma/elements/title.sass";
@import "bulma/grid/columns.sass";

// Application styles
@import "main";