<div class="section about" id="about" data-section-id="about">
  <div class="container">
    <p class="section__title">About me</p>
    <div class="columns">
      <div class="column is-5">
        <figure class="image is-4by3" data-aos="flip-left">
          <img src="/assets/img/me.svg">
        </figure>
      </div>
      <div class="column">
        <div class="content" data-aos="fade-left">
          {% capture about %}{% include_relative /_content/about.md %}{% endcapture %}
          {{ about | markdownify }}
        </div>
      </div>
    </div>
  </div>
</div>