<div class="landing-page hero is-fullheight" data-section-id="blank">
  <div class="hero-body">
    <div class="container">
      <div class="level is-reversed">
        <div class="level-item">
          <figure class="image is-192x192 is-tablet-384x384 is-desktop-512x512">
            <img src="/assets/img/avatar.svg" />
          </figure>
        </div>
        <div class="level-item">
          <div>
            <p class="title is-family-primary is-size-6 is-size-5-desktop is-spaced mt-5">Welcome! I am</p>
            <p class="title is-family-logo has-text-accent is-size-3 is-size-2-tablet is-size-1-desktop is-spaced my-2">Bartłomiej Pluta</p>
            <p class="subtitle is-family-primary is-size-6 is-size-5-tablet is-spaced">Software Developer</p>
            <div class="buttons">
              <button class="button is-accent mt-5">Hire me</button>
              <button class="button is-outlined is-accent mt-5">Get to know me</button>              
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>