<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <span class="has-text-accent is-size-4 is-family-logo"><strong>Bartłomiej Pluta</strong></span>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="global-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="global-navbar" class="navbar-menu">
      <div class="navbar-start">
        <a href="#about" class="navbar-item" data-section-id="about">About me</a>
        <a href="#skills" class="navbar-item" data-section-id="skills">Skills</a>
        <a href="#experience" class="navbar-item" data-section-id="experience">Experience</a>
        <a href="#education" class="navbar-item" data-section-id="education">Education</a>
        <a href="#projects" class="navbar-item" data-section-id="projects">Projects</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Hire me</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>