<nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://www.bartlomiejpluta.com">
        <span class="has-text-accent is-size-4 is-family-logo"><strong>Bartłomiej Pluta</strong></span>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="global-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="global-navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">About me</a>
        <a class="navbar-item">Skills</a>
        <a class="navbar-item">Experience</a>
        <a class="navbar-item">Education</a>
        <a class="navbar-item">Projects</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Hire me</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>